@page
@using Microsoft.AspNetCore.Mvc.Localization
@using SW.schedulity.Localization
@using SW.schedulity.UserCourses;
@using Volo.Abp.Users
@using Volo.CmsKit.Public.Web.Pages.CmsKit.Shared.Components.Rating;
@model SW.schedulity.Web.Pages.IndexModel
@inject IHtmlLocalizer<schedulityResource> L
@inject ICurrentUser CurrentUser
@inject IUserCourseRepository UserCourseRepository
@section styles {
<abp-style src="/Pages/Index.css" />
}
@section scripts {
<abp-script src="/Pages/Index.js" />
}
<input hidden id="userId" value="@CurrentUser.Id" />
    <div class="row">
        <div class="col-md-7">
            <div class="profile bg-gray radius">
                <div class="row align-items-end bg-gray">
                    <div class="col-md-6">
                        <div class="welcoming">
                            <span>
                            Hello @User.Identity.Name!
                            </span>
                            <br>
                            it's good to see you again
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img class="man-img" src="images/MAN.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="displine bg-gray radius">
                <div class="align-items-center d-flex justify-content-center p-3 row">
                    <div class="col-md-4">
                        <div class="cis">
                            <img src="images/discplineLogo.png" alt="">
                            <span>CIS</span>
                        </div>
                    </div>
                    <div class="col-md-8">
                    <div class="flex-wrapper justify-content-end">
                                <div class="single-chart">
                                    <svg viewBox="0 0 36 36" class="circular-chart circle-color">
                                        <path class="circle-bg"
                                              d="M18 2.0845
                                                a 15.9155 15.9155 0 0 1 0 31.831
                                                a 15.9155 15.9155 0 0 1 0 -31.831" />
                                        <path class="circle"
                                              stroke-dasharray="10, 100"
                                              d="M18 2.0845
                                                a 15.9155 15.9155 0 0 1 0 31.831
                                                a 15.9155 15.9155 0 0 1 0 -31.831" />
                                        <text id="progress-as-percentage" x="18" y="20.35" class="percentage">
                                        </text>
                                    </svg>
                                </div>
                            <button class="btn btn-dark">Manage</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex p-2 justify-content-evenly">
                <div class="align-items-center bg-gray col-md-5 courses-details d-flex justify-content-lg-around radius">
                    <span id="user-courses-count" class="num"></span>
                    <span class="detail">
                        courses<br>  completed
                    </span>
                </div>
                <div class="align-items-center bg-gray col-md-5 courses-details d-flex justify-content-lg-around radius">
                    <span class="num">5</span>
                    <span class="detail">
                        courses<br> in progress
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="controls d-flex justify-content-sm-around mt-5">
            <p>
                <span>Courses &nbsp;&nbsp;&nbsp;</span>
                Number of hours in the next semester:
            </p>
            <input class="radius numberOfHours" type="text">
            <a href="#" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">Generate!</a>
            <!-- Modal -->
            <div class="modal  fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered d-flex flex-column pl-4">
                    <div class="ModalTitle d-flex">
                        <h1>Your schedule &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
                        <button type="button" style="background: none;border: none;cursor: pointer;" data-bs-dismiss="modal" aria-label="Close">
                            <img src="images/X.png" style="height:50px;cursor: pointer;" alt="">
                        </button>

                    </div>
                    <div class="modal-content" style="width: 185%;">
                        <div class="modal-body">
                            <div class="Course-selected">
                                <p>Theory</p>
                                <div class="Hours">
                                    <img src="images/clock.png" style="height:20px;" alt="">
                                    <span>0h</span>
                                </div>
                                <div class="change">
                                    <img src="images/CHANGE.png" style="height:20px;" alt="">
                                </div>
                            </div>
                            <div class="Course-selected">
                                <p>HCI</p>
                                <div class="Hours">
                                    <img src="images/clock.png" style="height:20px;" alt="">
                                    <span>0h</span>
                                </div>
                                <div class="change">
                                    <img src="images/CHANGE.png" style="height:20px;" alt="">
                                </div>
                            </div>
                            <div class="Course-selected">
                                <p>OS</p>
                                <div class="Hours">
                                    <img src="images/clock.png" style="height:20px;" alt="">
                                    <span>0h</span>
                                </div>
                                <div class="change">
                                    <img src="images/CHANGE.png" style="height:20px;" alt="">
                                </div>
                            </div>
                            <div class="Course-selected">
                                <p>Multimedia</p>
                                <div class="Hours">
                                    <img src="images/clock.png" style="height:20px;" alt="">
                                    <span>0h</span>
                                </div>
                                <div class="change">
                                    <img src="images/CHANGE.png" style="height:20px;" alt="">
                                </div>
                            </div>
                            <div class="Course-selected">
                                <p>English 100</p>
                                <div class="Hours">
                                    <img src="images/clock.png" style="height:20px;" alt="">
                                    <span>0h</span>
                                </div>
                                <div class="change">
                                    <img src="images/CHANGE.png" style="height:20px;" alt="">
                                </div>
                            </div>
                            <a href="#" class="btn btn-dark print mx-auto">Print</a>
                        </div>
                    </div>
                </div>
            </div>
            <label class="checkboxContainer">
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
            </label>
            <p>
                Do you want include General Requirements?
            </p>
        </div>
    </div>
    <div class="accordion accordion-flush" id="accordionFlushExample">
    @foreach (var _section in Model.Sections)
    {
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-heading-@_section.Id">
                <button class="accordion-button bg-gray my-2 p-4 radius collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-@_section.Id" aria-expanded="false" aria-controls="flush-collapse-@_section.Id">
                    <p>@_section.Title</p>
                    <div class="courseHours mx-auto">
                        <img src="images/clock.png" style="height:20px;" alt="">
                        <span>@(_section.NumberOfHours)h</span>
                    </div>
                </button>
            </h2>
            <div id="flush-collapse-@_section.Id" class="accordion-collapse collapse" aria-labelledby="flush-heading-@_section.Id" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    @foreach (var course in Model.Courses.Where(x=>x.SectionId == _section.Id))
                    {
                        <div class="Course">
                            <p>@course.Title</p>
                            <div class="Hours">
                                <img src="images/clock.png" style="height:20px;" alt="">
                                <span>@(course.NumberOfHours)h</span>
                            </div>
                            <label class="checkboxContainer">
                                <input type="checkbox" class="course-check" data-course-id="@course.Id">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
    </div>

<div class="rating">
        <p style="font-size: 25px;">Rate our Service</p>
        <div>
            @await Component.InvokeAsync(typeof(RatingViewComponent), new
            {
            entityType = "Schedulity",
            entityId = CurrentUser.Id.ToString()
            })
        </div>
    </div>
